*, *::before, *::after  { 
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body, #wb-container {
  width: 100%;
  height: 100%;
  background: #fff;
}

nav{
  position: fixed;
  width: 20%;
  height: 100%;
  background: #fff;
  box-shadow: 0.5px 0.5px 0.5px #999;
  overflow-y: auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  display: block;
  padding: 15px 15px;

  font-size: 12pt;
  font-weight: 400;
  color: #444;
}

.nav-item a:hover {
  background: #f1f1f1;
}

nav > #logo {
  width: 100%;
  height: 10%;
  box-shadow: 0.5px 0.5px 0.5px #999;
  padding-top: 10px;
  padding-left: 20px;
  color: #888;
}

nav > #logo > #title {
  font-size: 14pt;
  font-weight: 700;
}

nav > #logo > #version {
  margin-top: 5px;
  font-size: 10pt;
  font-weight: 100;
}

header { 
  position: fixed;
  width: 80%;
  height: 10%;
  left: 20%;
  background: #da2020;
  box-shadow: 3px 3px 6px #999;
}

main {
  position: fixed;
  width: 80%;
  height: 100%;
  left: 20%;
  top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.content {
  width: 90%;
  min-height: 50%;
  height: auto;
  padding-top: 3%;
}

.content:last-child {
  padding-bottom: 10%;
}

.content > h2 { 
  color: #444;
  margin-bottom: 5px;
}

.content > p { 
  color: #444;
}

.content > h2 > span { 
  font-size: 14pt;
  font-weight: 400;
  color: #888;
}

.methods, .routes {
  widows: 100%;
  height: auto;
  background: #fff;
  margin-top: 7px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
}

.mType, .mRoute {
  width: 100vw;
  height: auto;
  background: #fff;
  padding: 10px 10px;
  margin: 10px 0 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
}

.mType > .bMethods {
  width: 70px;
  height: 30px;
  background: #222;

  font-size: 10pt;
  font-weight: 700;
  color: #fff;

  border: none;
  border-radius: 5px;

  outline: 0;
}

.mType > .router {
  font-size: 12pt;
  font-weight: 700;
  color: #555;

  margin-left: 10px;
}

.mType > .router-info {
  font-size: 12pt;
  font-weight: 400;
  color: #777;

  margin-left: 10px;
}

/* URL */
#mRoute {
  background: #e4e4e4;
  border-color: #000000;
} 

#bRoute {
  background: #000000;
}

 /* GET */
#mGet {
  background: #c9e8ff;
  border-color: #0090FF;
} 

#bGet {
  background: #0090FF;
}

 /* POST */
#mPost { 
  background: #b7ffea;
  border-color: #26b48a;
}

#bPost { 
  background: #26b48a;
}

 /* PUT */
#mPut { 
  background: #ffd7b1;
  border-color: #ff7b00;
}
#bPut { 
  background: #ff7b00;
}

 /* DELETE */
#mDelete { 
  background: #ffcaca;
  border-color: #fc1e1e;
}

#bDelete { 
  background: #fc1e1e;
}
